:root {
  /* Theme properties. */
  --md-checkbox-background-color: #212121;
  --md-checkbox-mark-color: #ffffff;
  --md-checkbox-border-color: rgba(black, 0.54);
  /*
    NOTE(traviskaufman): While the spec calls for translucent blacks/whites for disabled colors,
    this does not work well with elements layered on top of one another. To get around this we
    blend the colors together based on the base color and the theme background.
    Black 26% opacity on white background.
  */
  --md-checkbox-disabled-color: #b0b0b0;

  /* Internal properties. */
  --md-checkbox-size: 18px;
  --md-checkbox-mark-stroke-size: calc(2/15 * var(--md-checkbox-size));
  --md-checkbox-mixedmark-size: resolve(floor(var(--md-checkbox-mark-stroke-size)));
  --md-checkbox-border-width: 2px;
  --md-checkbox-transition-duration: 90ms;
  --md-checkbox-indeterminate-change-duration: 500ms;
  --md-checkbox-item-spacing: 4px;
  /* Manual calculation done on SVG */
  --_md-checkbox-mark-path-length: 22.910259;
  --_md-checkbox-indeterminate-checked-easing-function: cubic-bezier(0.14, 0, 0, 1);

  --md-checkbox-cover-element: {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  --md-checkbox-mark: {
    width: calc(100% - 2 * var(--md-checkbox-border-width));
  }

  --md-checkbox-outer-box: {
    /* TODO: This may not work */
    @apply --md-checkbox-cover-element;
    border-radius: 2px;
    box-sizing: border-box;
    pointer-events: none;
  }
}
